*
{
margin: 0;
padding: 0;
}

html, body {
height: 100%;
}

body {
background-image: url(epic.jpg);
}

svg {
position: fixed;
top: 20%;
height: 60%;
left: 20%;
width: 60%;
}

h1 {
   margin: auto;  
   padding: 20px;
   text-align: center;
   font-size: 350%

}

p {
    font-size: 200%
}


